#welcome {
  padding-top: 100px;
  font-size: 2.5em;
  z-index: 300;
  font-family: "Work Sans", sans-serif;
}

#userCity {
  width: 93%;
  height: 2.3rem;
}

.font {
  color: white;
  opacity: 0.75;
  font-weight: lighter;
}

.food-address {
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.food-name {
  margin-right: 25px;
}

.food-bold {
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 6px;
  text-decoration-style: bold;
}

.food-price {
  font-size: 10px;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.bike-name {
  margin-top: 4px;
}

.food-rating {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.bike-address {
  padding-bottom: 7px;
  margin-left: 10px;
}

.bike-name {
  padding-top: 8px;
}

#head-bar {
  height: 60px;
  background-color: #562d67;
}

footer {
  height: 90px;
  background-color: #562d67;
}

#footertype {
  color: white;
  float: right;
  margin-top: 15px;
  font-size: 10px;
  padding-right: 15px;
}

#header-image {
  width: 2000px;
  margin-bottom: 4rem;
  background-color: #562d67;
  width: 100%;
}

.container3 {
  margin: auto;
  width: 100%;
  z-index: 20;
  background-color: white;
  opacity: 0.76;
}

.container2 {
  text-align: center;
  z-index: 20;
  margin: 0;
}

.col-lg-12 {
  color: #606060;
}

form {
  margin: 0 auto;
  width: 400px;
}

p {
  font-size: 0.7rem;
  text-decoration-style: bold;
  margin-left: 7px;
  margin-right: 10px;
  padding-top: 6px;
  padding-bottom: 3px;
  text-align: left;
}

h1 {
  font-size: 1.5rem;
  font-family: "helvetica", "gotham", sans-serif;
}

h3 {
  font-family: "helvetica", "gotham", sans-serif;
  color: #303030;
  text-align: left;
  margin: 0px;
  margin-left: 10px;
  padding-top: 2px;
  padding-bottom: 0px;
  font-size: 1rem;
}

video {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  position: fixed;
  top: 55px;
}

body {
  z-index: 5;
  color: #303030;
  font-family: "helvetica", "gotham", sans-serif;
}

input {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
}

.card-img-top {
  width: 18rem;
  width: 40px;
  padding-bottom: 1rem;
}

.card-body {
  justify-content: center;
}

.card {
  display: inline-block;
  margin: 0.9rem;
  float: none;
}

.wrapper {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

#logo {
  left: 100px;
  top: 18px;
  z-index: 15;
  position: absolute;
  max-width: 170px;
}

.card-title {
  color: #989898;
  font-family: "helvetica", "gotham", sans-serif;
  border: none;
  font-size: 15px;
}

.list-group-sub {
  color: #989898;
  font-family: "helvetica", "gotham", sans-serif;
  border: none;
  font-size: 10px;
  text-decoration-style: bold;
}

#map {
  height: 40rem;
  width: 100%;
  /* Optional: Makes the sample page fill the window. */
}

.special-card {
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.6;
  overflow: scroll;
  height: 25rem;
}

.coworkers-address {
  padding-bottom: 6px;
  margin-left: 10px;
}

.coworkers-rating {
  margin-left: 10px;
  margin-bottom: 2px;
  margin-top: 4px;
  text-decoration-style: bold;
}

#mainInfo {
  visibility: hidden;
}

.foodcont {
  border-bottom: 1px solid rgba(128, 128, 128, 0.317);
  margin-bottom: 0.3rem;
}

.coworkerscont {
  border-bottom: 1px solid rgba(128, 128, 128, 0.317);
  margin-bottom: 0.3rem;
}

.bikecont {
  border-bottom: 1px solid rgba(128, 128, 128, 0.317);
  margin-bottom: 0.3rem;
}

.city {
  padding-top: 10px;
  text-align: center;
}

.temp-f {
  text-align: center;
  padding-top: 45px;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}

.temp-c {
  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  margin: 0;
}

.category {
  text-align: center;
  font-size: 10px;
  margin: 0;
}

.weather-icom {
  align-content: center;
}

.weather-text {
  text-align: center;
}
