<<<<<<< HEAD
 .container2{
    margin: 30px;
    width: 100%;
    color: #606060;
    max-width: 1100px;
=======
.container3{
  padding-top: 30px;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    z-index: 20;
    height: 900px;
    background-color: white;
    height: 900px;
    opacity: 0.75;
 }

.container2{
    margin: auto;
    width: 100%;
 /*   background-color: #6C497C;*/
    max-width: 1900px;
    text-align: center;
    z-index: 20;
    height: 900px;
 }


 .container{
    margin-top: 220px;
>>>>>>> e6978725fc152c552a0599864808e181a2e1f67f
 }

 .col-lg-12{
  color: #606060;
 }

<<<<<<< HEAD
 form {
=======
form {
>>>>>>> e6978725fc152c552a0599864808e181a2e1f67f
  margin: 0 auto;
  width: 400px;
}

<<<<<<< HEAD
.card-img-top{
width: 18rem;

}

.card{
	display: inline-block;
	margin: 30px;
	align-content: center;

}
=======
p{
  font-size: 18px;
}

h1{
  font-size: 35px;
  font-family:'helvetica', 'gotham', sans-serif;
}

h3{
  font-size: 24px;
  text-align: center;
  font-family: 'Raleway','helvetica', 'gotham', sans-serif;
/*  color: #6C497C;*/
  color: #303030;
}

video{
  position: relative;
  min-width: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  position: fixed;
  top: 55px;
}

body{
  z-index: 5;
  color: #303030;
  font-family: 'helvetica', 'gotham', sans-serif;
}


input {
    float: center;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}


button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    background-color: #303030;
    border-color: #6C497C;
    color: #D0D0D0;
    height: 26px;
    font-size: 10px;
}

.card-img-top{
width: 18rem;
width: 40px;
}

.card-body{
  justify-content: center;
}

.card{
  display: inline-block;
  margin: 30px;
}

.wrapper {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.innerButton{
    position: relative;
    top: -3px;
}

#logo {
  left: 50px;
  top: 10px;
  z-index: 15;
  position: absolute;
  max-width: 170px
}

#header-image {
  width: 100%;
}

.list-group-item{
  color: #989898;
  font-family: 'helvetica', 'gotham', sans-serif;
  border: none;
  font-size: 15px;
}

.list-group-sub{
  color: #989898;
  font-family: 'helvetica', 'gotham', sans-serif;
  border: none;
  font-size: 10px;
  text-decoration-style: bold;
}

li{
  margin: 0px 0;
}


>>>>>>> e6978725fc152c552a0599864808e181a2e1f67f
